
@font-face {
    font-family: aquire;
    src: url(fonts/Aquire-BW0ox.otf);
    font-weight: regular;

}
@font-face {
    font-family: spartanlight;
    src: url(fonts/Spartan-Light.ttf);
    font-weight: light;

}
@font-face {
    font-family: be;
    src: url(fonts/BeVietnam-ThinItalic.ttf);
    font-weight: light;

}
.header1{
    font-size: 3vw;
    font-family: be;
    text-align: left;
}
.header2{
    font-size: 1.5rem;
    font-family: be;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #151515;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: spartanlight; 
    color: #ffffff;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
}
li{
    margin-top: 10px;
}
body {
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    z-index: 0;
}
.spacer{
    height: 150px;
}
/*NAVIGATION*/
.cta {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    background: #000000dc;
    /*background-image: url("../img/background_indredgo.png");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    transition: all 1s;
}
.hide {
    opacity:0;
    bottom:-100%;
}
.show {
    opacity:1;
    bottom:0;
}
#navWrapTop {
    position: absolute;
    top: 0px;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 20px 0px;
    width: 100%;
    font-family: geniso;
    z-index: 100;
    color: #ffffff;
    text-align: center;
   
}

nav {
    position: relative;
    top: -70px;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 20px 0px;
    width: 100%;
    font-family: geniso;
    z-index: 100;
    color: #ffffff;
    text-align: center;
    /*background-image: linear-gradient(to right, #46eded, #28125c);
    */
}
@media only screen and (max-width: 700px) {
    nav {   
        top:-140px;

    }
}
.sticky {
    position: fixed;
    top:0;
}

.nav-link {
    font-size: 1.1vw;
    font-family: spartanlight;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: color .4s ease-in-out, box-shadow .3s ease-in-out;
    
}
.nav-link2 {
    font-size: 1.1vw;
    font-family: spartanlight;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: color .4s ease-in-out, box-shadow .3s ease-in-out;
    text-align: left;
    margin-top: 10px;
    cursor: pointer;
    
}
@media only screen and (max-width: 700px) {
    .nav-link{
        font-size: 18px;
    }
}
#work-underline{
    border-top: 0px solid white;
    width: 100px;
    margin-top: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s linear;
}
#about-underline{
    border-top: 0px solid white;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s linear;
}
#contact-underline{
    border-top: 0px solid white;
    width: 100px;
    margin-top: 5px;  
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s linear; 
}
/*effects*/
.nav-link:hover {
    /*color: rgb(219, 29, 108);*/
    color: #fff;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}

#work:hover #work-underline{
    visibility: visible;
    opacity: 1;
}
#menuCont{
    opacity: 0;
    background-color: #04010e;
    padding: 20px;
}
#work:hover #menuCont{
    visibility: visible;
    opacity: 1;
}
#about:hover #about-underline{
    visibility: visible;
    opacity: 1;
}
#contact:hover #contact-underline{
    visibility: visible;
    opacity: 1;
}
/*SECTION1*/
.main-container {
    background-image: url("img/mainbackground.jpg");
    background-color: #0f0f0f;
    height: auto;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.second-container{
    position: relative;
}
.namewrapper{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff; 
}
.name{
    font-size:4.3vw;
    min-height: 20px;
    font-family: aquire; 
}
.designer{
    font-size: 1.35vw;
    font-family: spartanlight;
    text-align: right;
}
@media only screen and (max-width: 700px) {
    .name {
      font-size: 50px;
      margin: 10px;
    }
    .designer{
        font-size: 20px;
        text-align: center;
        margin-top: 30px;
    }
}
/*SECTION2*/
.SECTION2{
    position: relative;
    bottom: 70px;
    background-color: #04010e;
    background-image: url("../img/lightkinetism4.pn");
    background-size: cover;
    background-position: center;
}
.motoCont{
    margin-left: 10vh;
    margin-top: 10vh;
}
.categCont{
    position: relative;
    top: 50px;
}
.about-txt-category{
    text-align: left;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-size: 1.3vw;
    cursor: pointer;
}
.about-txt-category:hover {
    color: #fff;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}
.about-txt-category:hover #category-underline{
    visibility: visible;
    opacity: 1;
}
#category:hover #category-underline{
    visibility: visible;
    opacity: 1;
}
#category-underline{
    width: 35%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s linear; 
}
.about-txt-category-mobile{
    text-align: initial;
    margin: 10px;
}
.moreButtCont{
    position: relative;
    display: flex;
    top: 150px;
    right: 0;
    align-items: right;
    justify-content: right;
}

.profile-img-mobile{
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.about{
    width: 100%;
    position: relative;
    bottom: 70px;
    text-align: center;
    height: 80vh;
}
.aboutme{
    z-index: 9;
    background-image: url("img/illustration.png");
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
#aboutscroll{
    position: absolute;
    top: 92vh;
    width: 90px;
    height: 40px;
}
.about-title{
    position: relative;
    height: 10vh;
}
#about-head{
    padding: 40px;
    position: relative; 
}
.about-wrapper{
    height: 85vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}
@media only screen and (max-width: 1200px) {
    .about-wrapper{
        height: 70vh;
    }
  }
@media only screen and (max-width: 700px) {
    .aboutme{
        display: none;
    }
  }
.about700{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
.profile-text-wrapper{
    position: relative;
    width: 100%;
    text-align: justify;
    background-color: #03010fbe;
    padding: 50px;
    font-size: 1vw;
    padding-right: 10vh;
}
.profilepicture{
    display: block;
    max-width: 100%;
}

@media only screen and (max-width: 1200px) {
    .about-txt{
        display: none;
    }
}

/*SECTION3*/

.head-services{
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 100px;
    padding-top: 150px;
    color: #ffffff;
    
    
}
@media only screen and (max-width: 700px) {
    .head-services{
        font-size: 2rem;
        text-align: center;
        position: relative;
        bottom: 0px;
        width: 100%;
        padding-top: 20px;
        
    }
}
.indigo{
    position: relative;
    width: 100%;
    padding-left: 15vh;
    padding-right: 15vh;  
}
@media only screen and (max-width: 700px) {
    .indigo{
        padding-left: 0;
        padding-right: 0;
        width: 90%;
        bottom: 110px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }
  }

.service-img{
    position: relative;
    display: block;
    max-width: 200px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
@media only screen and (max-width: 700px) {
    .service-img{
        max-width: 120px;
        margin-left: 0;
    }
  }
.head1{
    font-size: 22px;
    font-family: spartanlight;
    padding: 10px;
}
@media only screen and (max-width: 1300px) {
    .head1{
        font-size: 18px;
    }
}
.line1{
    border-top: 0px solid white;
    margin-right: 25%;
    width: 90%;
    
}
.service-txt{
    font-size: 18px;
    font-family: spartanlight;  
    text-align: left;
    margin-right: 15px;
    bottom: 0;
    
}
@media only screen and (max-width: 700px) {
    .service-txt{
        position: relative;
        opacity: 1;
        font-size: 15px;
        bottom: 110px;
        text-align: right;
        padding-right: 20px;
    }
}
.serviceMain{
    position: relative;
    width: 100%;
    left: 0px;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 1px 3px rgba(black, 0.2);
    margin-bottom: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.serviceMain:hover .service-img{
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    transition: 0.5s;
    
}
.servImg2 img{
    max-height: 50vh;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    padding: 0px;
}
.arrowCont{
    position: relative;
    display: flex;
    align-items: center;
    height: 150px;
}
.arrowCont p{
    margin-bottom: 10px;
}
.arrow{
    opacity: 0;
    width: 50px;
    right: 0;
    margin-left:20px;
}
@media only screen and (max-width: 700px) {
    .service{
        height: 18vh;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin: 25px;
        background-color: #060022;
        border-radius: 5px;
    }
}
.service:hover .service-txt{
    opacity: 100%;
    transition: 0.5s;
}
.service:hover .line1{
    transition: 0.5s;
}

.service:hover .backServImg img{
    opacity: 70%;
    transition: 1s;
    
}
.service-txt p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.slogan-wrapper{
    width: 100%;
    text-align: center;
    margin: 30px;
}
.slogan{
    margin: 10px;
    font-size: 1.2rem;
    font-family: spartanlight; 
}

/*Animation Services scroll*/
.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
  }
    
  @keyframes come-in {
    to { transform: translateY(0); }
  }
/*SECTION4 Gallery*/
.gallery{
   
    position: relative;
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;  
}
@media only screen and (max-width: 700px) {
    .gallery{
        background-image: none;
        background-color: none;     
    }
  }
.link-wrapper{
   padding-top: 50px;
   padding-bottom: 250px;
   background-color: #ffffff00;
}
#gallery-head{
    margin-bottom: 20px;
}
.gallery-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.g-button{
    width: 200px;
    height: 50px;
    text-align: center; 
    justify-content: center;
    align-items: center;
    background-color: #0c0426;
    transition: border 1s, transform 2s;
    box-shadow: inset 0 0 0 0 #bb173b;
    transition: color .4s ease-in-out, box-shadow .3s ease-in-out;
    text-align: center;
    cursor: pointer;
    /*border: solid rgb(226, 226, 226) 0.1px;*/ 
}
.showmore{
    position: absolute;
    bottom: 100px;
    right: 50px;
}
.g-button:hover {
    box-shadow: inset 200px 0 0 0 #ffffff;
    color: rgb(14, 0, 51);
}
.g-button:hover .arrow {
    opacity: 100;
}
.g-butt-txt {
    font-size: 20px;
    padding-top: 15px;
}
/*SECTION5*/
.projects{
    width: 100%;
    position: relative;
    bottom: 70px;
    text-align: center;   
}
@media only screen and (max-width: 700px) {
    .projects{
        background-color: rgba(0, 0, 0, 0);     
    }
  }
  .projects-background{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: rgb(0, 0, 0);
  }
.projecthead-wrapper{
    padding: 10px;
    width: 100%;
    background-color: rgb(0, 0, 0);  
}
.project-head{
    font-size: 30px;
    position: relative;
    top: 20px;
}
.projects-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(196, 196, 196, 0);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
@media only screen and (max-width: 700px) {
    .projects-wrapper{
        background-color: #1f1f1f9d;
        width: 90%;
        border-radius: 5px;   
    }
  }
.project{
    max-height: 30vh;
    flex-grow: 1;
    max-width: 100%;
    cursor: pointer;
    
}
.project img{
    max-height: 30vh;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    padding: 0px;
}

.project:hover .project-txt-overlay{
    width: 450px;
}
.project:hover .project-txt-overlay-vertical{
    width: 100%;
}
.project-txt-overlay{
    position: relative;
    bottom: 40px;
    left: 0;
    width: 0px;
    height: 40px;
    display: flex;
    overflow: hidden;
    transition: 0.7s ease;
    z-index: 10;
    background-color: #101010c5;
    white-space: nowrap;
    align-items: center;
    padding-left: 10px;
}
.project-txt-overlay-vertical{
    position: relative;
    bottom: 40px;
    left: 0;
    width: 0px;
    height: 40px;
    display: flex;
    overflow: hidden;
    transition: 0.7s ease;
    z-index: 10;
    background-color: #101010c5;
    white-space: nowrap;
    align-items: center;
}


@media only screen and (max-width: 700px) {
    .project-txt-overlay {
       width: 100%;
       bottom: 0;
       z-index: 0;
    }
    .project-txt-overlay-vertical {
        width: 100%;
        bottom: 0;
        z-index: 0;
     }
    .project-txt-overlay p{
        padding-left: 10px;
    }
    .project-txt-overlay-vertical p{
        padding-left: 10px;
    }
}
@media only screen and (max-width: 700px) {
    .project img {
        max-width: 100%;
    }
  }
/*FULLSCREEN PICTURES Gallery*/
  #fullpage {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
    transition: .5s all linear;
    opacity: 1;
  }
#fullpage.h-hide {
    padding: 0;
    opacity: .25;
    height: 0;
  }
#project1-modal,
#project2-modal,
#project3-modal,
#project4-modal,
#project5-modal,
#project6-modal,
#project7-modal,
#project8-modal,
#project9-modal,
#project10-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.781); /* Black w/ opacity */
  }
  /* Add Animation - Zoom in the Modal */
.modal-head{
    font-size: 30px;
    text-align: center;
    margin: 20px;
}
.modal-description{
    margin: 20px;
}
.modal-frame{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.modal-content{
    display: block;
    height: 50vh;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
.modal-content-vertical{
    display: block;
    height: 70vh;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
      height: auto;
    }
  }
@keyframes zoom {
    from { opacity: 0; }
    to { opacity: 1; }
}
  /* The Close Button */
.close {
    position: absolute;
    top: 65px;
    right: 10px;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
    padding: 10px;
    padding-bottom: 0px;
  }
.close:hover,
.close:focus {
    color: rgb(221, 92, 92);
    text-decoration: none;
    cursor: pointer;
  }
/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 45px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  transition: 0.5s;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 45px;
  user-select: none;
  -webkit-user-select: none;
  transition: 0.5s;
}
/* On hover, add a black background color with a little bit see-through */
.close:hover,
.prev:hover,
.next:hover {
  background-color: rgba(82, 82, 82, 0.452);
}
/*CONTACT*/
.contact{
    padding-top: 7vh;
    padding-bottom: 7vh;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
}
.contact p {
    margin: 10px;
}
.contact-head{
    position: relative;
    font-size: 30px;
    bottom: 30px;
}
/*FOOTER*/
.footer{
    text-align: center;
    font-size: 13px;
    position: relative;
    width: 100%;
    background-color: #04010e;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.sidebar{
    background-color: #bb173b;
    width: 100px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}